In [1]:
from src.DatasetCreator import *
from src.kmer_utils import *

In [2]:
np.random.seed(42)
dsc = DatasetCreator("./data/experiments.tsv")
df_positives = dsc.get_positives()
df_negatives = dsc.get_negatives()
df_negatives_random = dsc.get_random_negatives("./data/GRCh38.fa")

194it [00:29,  6.64it/s]

In [3]:
df_positives.head()

,seq_hg38,seq_length,chromosome,start,end,curation_status
0,acgtgcatgcgcaagtgAGAAGGGTGGGGGAGGAAGACGACATATG...,210,chr1,204455121,204455330,positive
1,GGCCAGGCTGTCTGGGCGCAGCATTCCTGGGCCTGCTCTCTGGCTC...,263,chr1,3349188,3349450,positive
2,GAGGCGGGGGCATTGCAAGCTGTCGGTTTGCATTGTGCGGACGGGG...,283,chr1,164651283,164651565,positive
3,CGGGGAACTGGGTCTCAGTTGGCCATGTCTGTTCTAAAAACAGAAG...,285,chr1,230849557,230849841,positive
4,TTTATTCAAGCACAGGGCAAAATCACTACTTGTCCAGCACAGAGGG...,292,chr1,52662901,52663192,positive

In [4]:
df_negatives.head()

,seq_hg38,seq_length,chromosome,start,end,curation_status
0,TGTGTTTATTTTGAAATATGATGAACCTTTTTATTTTTAGTATGGT...,94,chr1,56654655,56654748,negative
1,aagagagagaTGACTTTCCTTGAATGATCTGTTTAACCTAAGCCAG...,239,chr1,10791759,10791997,negative
2,TTTTTATTACACGCTTATCGCCTTTTTCCCTCCTGCTTTTGAAATT...,256,chr1,44524639,44524894,negative
3,GGGGGCCGTCTTGGTGACTGCTGGGGAAAGTACTAGCTCTCCTCGC...,263,chr1,59057277,59057539,negative
4,AATTTTTGAAGCCAAGCAGATAATTTAATTTGACCTAGCAGGAAGA...,337,chr1,56654414,56654750,negative

In [5]:
df_negatives_random.head()

,seq_hg38,seq_length,chromosome,start,end,curation_status
0,CAGTGAGCTGAGACCATGCCATCACACTCCAGCCTGGGCAACAAGA...,210,chr1,199900595,199900805,negative
1,TGATATTTGCTTCTCCAGAGCTCATCAACCATGCTTTTTAAAAATA...,263,chr1,56755036,56755299,negative
2,AGGACACTTATCAGACACTGACTTTGCAGACACCTTGATTTTAGAT...,283,chr1,191100010,191100293,negative
3,TTTTTGTGAGATGGAGTTTTTCTCCTGTTGCCCAGGCTGGAATGCA...,285,chr1,155299516,155299801,negative
4,TGAGATGCACGATCCCACCACACCTGTTAAAATCCCCCTGAAGAAT...,292,chr1,147532820,147533112,negative

In [6]:
df_positives.to_csv("./datasets/df_positives.csv", index=False)
df_positives.to_csv("./datasets/df_positives.csv", index=False)
df_positives.to_csv("./datasets/df_positives.csv", index=False)

In [7]:
ks = [3, 4, 5]

for k in ks:
    
    df_positives_kmer = process_kmer_for_df(df_positives, k)
    df_negatives_kmer = process_kmer_for_df(df_negatives, k)
    df_negatives_random_kmer = process_kmer_for_df(df_negatives_random, k)

    df_positives_kmer.to_csv(f"./datasets/processed/k{k}/df_positives_kmer.csv", index=False)
    df_negatives_kmer.to_csv(f"./datasets/processed/k{k}/df_negatives_kmer.csv", index=False)
    df_negatives_random_kmer.to_csv(f"./datasets/processed/k{k}/df_negatives_random_kmer.csv", index=False)